@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-fit-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
    
  }

  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: italic;
  }


/* shared styles */
.display-flex{
    display: flex;
}
.display-flex2{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-self: start;
    align-items: start;
    justify-content: right;
    width: 300px;

}
.display-flex3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 10px;

}
.icon-width{
    width: 30px;
}
.text-primary{
    color: #ffffff;
}

/* dark 02 */
.text-italic{
    color: #ffffff;
}
#quick-list{
    font-weight: 200;
}

/* dark03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: #111111;
}

.btn-primary{
    background-color: #E6533C;
    color: white;
    padding: 4px 15px;
    font-size: .8rem;
    font-weight: 300;
    border-radius: 35px;
    border: none;
}
.btn-primary2{
    background-color: #E6533C;
    color: white;
    padding: 4px 15px;
    border-radius: 50px;
    border: none;
}
.btn-secondary{
    background-color: #111111;
    color: white;
    padding: 4px 15px;
    font-size: .8rem;
    font-weight: 300;
    border-radius: 35px;
        
}
.btn-tri{
    background-color: #303030;
    color: white;
    padding: 10px 15px;
    font-size: .9rem;
    font-weight: 300;
    border-radius: 15px;
    text-align: center;
   
}
.btn-tri2{
    background-color: #303030;
    color: white;
    padding: 10px 12px;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 15px;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 3fr);
        
}

.gap-between {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-between;
    justify-content: center;
    width: 150px;
    max-width: 150px;
    margin: 50px 50px;
    text-align: center;
    
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 3rem;
    font-weight: 1000;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
 


}

.brand{
    font-weight: 700;
    font-size: 3rem;
    color: #E6533C;
    font-style: italic;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font color: #white;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;

    
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    color: white;
}

/* Get Body related styles */
.get-body{
    align-items: center;
}

/* features section related styles */

.features{
    gap: 140px;
}

.our-features{
    margin-left: 10px;
    max-width: 650px;
}

#quick-list{
    font-weight: 900;
}

/* #no-of-video{
    padding: 50px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 5px;
} */

.place-holder{
    background-position: top;
}
.place-holder2{
    background-position: center;
    
}

#video-tutorial{
    font-size: 4rem;
    font-weight: 700;
}
.video-tutorial2{
    font-size: 2.5rem;
    font-weight: 700;
    
}
.video-tutorial3{
    font-size: .9rem;
    font-weight: 700;

    
}
.featured-fitness img{
    width: 112%;
}

/* habit related styles */
.change-your-habits{
    
    
}
.habit-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.changing-habit-facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.changing-habit-facts img{
     border-radius: 100px;
}
/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    
}
.fact-card{
    /* border: 1px solid #FF900E; */
    width: 240px;
    height: 240px;
    /* border-radius: 8px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 60px;
    
}

.fact-number{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: .9rem;
    font-weight: 300;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}

.run{

        /* border: 1px solid #FF900E; */
        background-color: #303030;
        width: 1240px;
        height: 300px;
        border-radius: 18px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 60px;
        
}
.run img{
    width: 500px;
    border-radius: 18px;
}

/* /meet our team css! */
.run2{

    /* border: 1px solid #FF900E; */
    background-color: #303030;
    width: 1240px;
    height: 520px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 40px 40px;
    
}

.run2 img{
    width: 400px;
    height: 250px;
    border-radius: 18px;
}
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 50px;
    height: 50px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    text-wrap: nowrap;
    
  }
.bottom-left {
    position: absolute;
    bottom: -160px;
    left: 20px;

  }
  /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: -160px;
    right: -580px;
  }
  .bottom-last {
    position: absolute;
    bottom: -160px;
    right: -950px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.fact-number2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    flex-wrap: nowrap;

}
.fact-number3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    flex-wrap: nowrap;

}